{% extends 'base.html' %}
{% block page_content %}


    <div class="container">
    <div class="text">
    <h1>{{ article.title }}</h1>
    <p>
        {{ article.content }}
    </p>
    </div>
    <div class="image">
        {% if article.photo %}
        <img src="/media/{{ article.photo }}" alt="photo of {{ article.title }}">
        {% endif %}
      </div>
    </div>

    {% if has_rights %}
        <a href="{% url 'edit article' pk=article.pk %}" class="btn-get-started">Edit</a>
        <a href="{% url 'delete article' pk=article.pk %}" class="btn-get-started">Delete</a>
{#        <a class="'button" href="{% url 'edit article' pk=article.pk %}">Edit</a>#}
{#        <a class="'button" href="{% url 'delete article' pk=article.pk %}">Delete</a>#}
    {% endif %}
{% endblock %}